* {margin: 0; padding: 0; box-sizing: border-box;}
header.active {
    background: #222;
}
header nav {
    height: 100px;
/*    border-bottom: 1px solid rgb(192, 192, 192);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    width: 100%;
    background: #fff;
    transition: .3s;
}
header nav .menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
header nav .logo .img1 {
    height: 40px;
}
header nav .logo .img2 {
    display: none;
    height: 40px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font: 18px sans-serif;
    font-weight: 600;
    color: rgb(58, 58, 58);
    margin-left: 30px;
}
header nav ul li {
    cursor: pointer;
    margin-left: 30px;
    transition: .5s;
}
header nav ul li:hover {
    color: #0066FF;
}
header nav .controls {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
header nav .controls a.in {
    color: #000;
    font: 18px sans-serif;
    transition: .5s;
    margin-right: 25px;
    text-decoration: none;
}
header nav .controls a.in:hover {
    color: #0066FF;
}
header nav .controls button.up {
    width: 110px;
    height: 40px;
    border-radius: 50px;
    background: #0066FF;
    border: 0;
    color: #fff;
    font: 18px sans-serif;
    transition: .5s;
    margin-right: 30px;
    cursor: pointer;
}
header nav .controls button.up:hover {
    background: #3076df;
}
header nav .controls .search {
    font-size: 22px;
    color: #222;
}
header nav .controls .background {
    width: 22px;
    background: #0b60df;
    height: 20px;
    border-radius: 50%;
    margin-left: 25px;
    cursor: pointer;
}
#title {
    height: 400px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    margin-bottom: 100px;   
}
#title.active {
    background: #222;
}
#title h1 {
    text-align: center;
    width: 1000px;
    font: 60px sans-serif;
    font-weight: 700;
    line-height: 80px;
}
#title h2 {
    font: 25px sans-serif;
    width: 950px;
    text-align: center;
    margin-top: 30px;
    margin-left: 25px;
    line-height: 40px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

#block1 {
    padding-top: 50px;
}
#block1.active {
    background: #222;
}
.subblock {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.subblock.active {
    background: #222;
}
#block1 .left-block {
    display: grid;
    gap: 25px 0;
    height: 600px;
}
#block1 h3 {
    font: 27px sans-serif;
    font-weight: 600;
}
#block1 .left-block .item {
    width: 800px;
    height: 480px;
    /* border-radius: 30px; */
}
.item.active {
    background: #222;
} 
#block1 .left-block .item img {
    height: 100%;
    width: 100%;
    border-radius: 33px;
    object-fit: cover;
}
#block1 .left-block button.lifestyle {
    width: 95px;
    height: 30px;
    border-radius: 50px;
    background: rgb(228, 244, 255);
    border: 1px solid #0066FF;
    color: #000;
    font: 13px sans-serif;
    transition: .5s;
    margin-right: 30px;
    cursor: pointer;
    transform: .1s;
    font-weight: 600;
}
#block1 .left-block button.lifestyle:hover {
    color: #fff;
    background: #0066FF;
}
#block1 .left-block h2 {
    width: 770px;
}
#block1 .left-block h2 a {
    text-decoration: none;
    color: #000;
    font: 40px sans-serif;
    font-weight: 700;
}
#block1 .left-block h2 a:hover {
    text-decoration: underline;
}
#block1 .left-block p {
    color: rgb(87, 87, 87);
    font: 18px sans-serif;
    width: 800px;
}
.author {
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.author .photo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    background: #222;
}
.author span {
    font: 15px sans-serif;
}
.author h4 a {
    text-decoration: none;
    color: #000;
}
.right-block {
    display: grid;
    gap: 45px 0;
    width: 560px;
}
.right-block .item {
    width: 560px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.right-block .item .img {
    height: 100%;
    width: 250px;
}
.right-block .item .img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.right-block .item .text button {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background: rgb(228, 244, 255);
    border: 1px solid #0066FF;
    color: #000;
    font: 13px sans-serif;
    transition: .5s;
    margin-right: 30px;
    cursor: pointer;
    transform: .1s;
    font-weight: 600;
}
.right-block .item .text button.btn2 {
    width: 110px;
    background: rgb(198, 255, 231);
    border: 1px solid #2D841F;
    transition: .5s;
}
.right-block .item .text button.btn2:hover {
    background: #2D841F;
}
.right-block .item .text button.btn5 {
    width: 90px;
    background: rgb(255, 206, 251);
    border: 1px solid rgb(255, 103, 242);
    transition: .5s;
}
.right-block .item .text button.btn5:hover {
    background: rgb(255, 103, 242);
}
.right-block .item .text button.btn:hover {
    background: #E10689;
}
.right-block .item .text button:hover {
    color: #fff;
    background: #0066FF;
}
.right-block .item .text {
    display: grid;
    width: 290px;
}
.text.active {
    background: #222;
}
.right-block .item .text p {
    font: 23px sans-serif;
    font-weight: 600;
    margin-top: 15px;
    cursor: pointer;
}
.right-block .item .text p:hover {
    text-decoration: underline;
}
nav .menu ul {
    position: relative;
}
.li5 {
    position: absolute;
    top: 0;
    left: 423px;
    height: 50px;
    transition: .5s;
}
.submenu ul {
    position: absolute;
    top: 20px;
    left: -40px;
/*    border: 1px solid #4d4dff;*/
    display: none;
    padding: 18px 0;
    width: 200px;
    height: 330px;
    gap: 10px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 #c2c2c2;
}
.li5:hover .submenu ul {
    display: grid;
}
.li5 i {
    position: absolute;
    top: 2px;
    left: 50px;
}
.submenu ul li {
    margin-left: 0;
    gap: 4px 0;
    padding-left: 25px;
}
#block2 {
    padding-top: 140px;
    display: grid;
}
#block2.active {
    background: #222;
}
#block2 .subblock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 0;
}
#block2 h3 {
    font: 27px sans-serif;
    font-weight: 600;
}
#block2 .subblock .item {
    width: 420px;
/*    border: 1px solid #000;*/
    display: grid;
    gap: 25px 0;
}
#block2 .subblock .item img {
    width: 100%;
    border-radius: 30px;
}
#block2 .subblock .item button.btn-blue {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background: rgb(228, 244, 255);
    border: 1px solid #0066FF;
    color: #000;
    font: 13px sans-serif;
    margin-top: 10px;
    cursor: pointer;
    transition: .1s;
    font-weight: 600;
}
#block2 .subblock .item button.btn-blue:hover {
    color: #fff;
    background: #0066FF;
}
#block2 .subblock .item button.btn2 {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background: #ffe8f6;
    border: 1px solid #E10689;
    color: #000;
    font: 13px sans-serif;
    transition: .5s;
    margin-top: 10px;
    cursor: pointer;
    transform: .1s;
    font-weight: 600;
}
#block2 .subblock .item button.btn2:hover {
    background: #E10689;
    color: #fff;
}
#block2 .subblock .item button.btn-violet {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background: #faebff;
    border: 1px solid #B43ADF;
    color: #000;
    font: 13px sans-serif;
    margin-top: 10px;
    cursor: pointer;
    transition: .1s;
    font-weight: 600;
}
#block2 .subblock .item button.btn-violet:hover {
    color: #fff;
    background: #B43ADF;
}
#block2 .subblock .item button.btn5 {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: #fffaf2;
    border: 1px solid #9D6805;
    color: #000;
    font: 13px sans-serif;
    margin-top: 10px;
    cursor: pointer;
    transition: .1s;
    font-weight: 600;
}
#block2 .subblock .item button.btn5:hover {
    color: #fff;
    background: #9D6805;
}
#block2 .subblock .item button.btn-green {
    width: 110px;
    height: 30px;
    border-radius: 50px;
    background: #f2fff0;
    border: 1px solid #2D841F;
    color: #000;
    font: 13px sans-serif;
    margin-top: 10px;
    cursor: pointer;
    transition: .1s;
    font-weight: 600;
}
#block2 .subblock .item button.btn-green:hover {
    color: #fff;
    background: #2D841F;
}
#block2 .subblock .item h2 {
    font: 2rem sans-serif;
    font-weight: 600;
    line-height: 40px;  
    cursor: pointer;
}

#block2 .subblock .item h2:hover {
    text-decoration: underline;
}
#block2 .subblock .item p {
    color: rgb(87, 87, 87);
    font: 1.125rem sans-serif;
    line-height: 25px;
    width: 100%;
}

#block2 .btn {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
#block2 .btn button.more {
    width: 200px;
    height: 65px;
    border-radius: 50px;
    background: #0066FF;
    border: 1px solid #0066FF;
    color: #fff;
    font: 20px sans-serif;
    transition: .5s;
    cursor: pointer;
}
#block2 .btn button.more:hover {
    background: #267dff;
}
#block2 .subscribe-block {
    border: 6px solid #0066FF;
    border-radius: 25px;
    margin-top: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    height: 172px;
    align-items: center;
}
.subscribe-block.active {
    background: #222;
}
#block2 .subscribe-block h2 {
    font: 3rem sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
}
#block2 .subscribe-block h5 {
    font: 1.25rem sans-serif;
    font-weight: 500;
    margin-top: 8px;
}
#block2 .subscribe-block .inputs {
    display: flex;
    justify-content: space-between;
}
#block2 .subscribe-block .inputs input {
    height: 60px;
    width: 260px;
    border-radius: 50px;
    outline: 0;
    border: 1px solid #7a7a7a;
    font-size: 1.235rem;
    margin-right: 8px;
    padding-left: 20px;
}
#block2 .subscribe-block .inputs input::placeholder {
    color: #636363;
    font-weight: 600;
}

#block2 .subscribe-block button.subsrcibe {
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background: #0066FF;
    border: 1px solid #0066FF;
    color: #fff;
    font: 18px sans-serif;
    transition: .5s;
    cursor: pointer;
    margin-left: 5px;
}
#footer-block {
    min-height: 420px;
    background: #f9f9f9;
    margin-top: 60px;
}
#footer-block.active {
    background: #222;
}
/*
body.active {
    background: #222;
}
*/
#footer-block .subblock {
    padding-top: 60px;
/*    border: 1px solid #000;*/
}
#footer-block .subblock .soclinks-block .logo {
    width: 140px;
}
#footer-block .subblock .soclinks-block .logo .img3 {
    width: 100%;
    height: 40px;
    pointer-events: none;
}
#footer-block .subblock .soclinks-block .logo .img4 {
    display: none;
    height: 40px;
}
#footer-block .subblock .soclinks-block {
    display: grid;
    gap: 20px 0;
    width: 400px;
}
#footer-block .subblock .soclinks-block p {
    font: 17px sans-serif;
    color: #222;
    line-height: 27px;
}
#footer-block .subblock .soclinks-block .site-links {
    width: 170px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
#footer-block .subblock .soclinks-block .site-links a i {
    font-size: 25px;
    color: #000;
    transition: .2s;
}
#footer-block .subblock .soclinks-block .site-links a i:hover {
    color: #267dff;
}
#footer-block .subblock .nav-list {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}
#footer-block .subblock .nav-list ul {
    list-style-type: none;
    display: grid;
    gap: 10px 0;
}
#footer-block .subblock .nav-list ul h4 {
    font: .875rem sans-serif;
    color: #4e4e4e;
    font-weight: 400;
}
#footer-block .subblock .nav-list ul li {
    font: 16px sans-serif;
    font-weight: 600;
}
#footer-block .subblock .nav-list ul li a {
    text-decoration: none;
    transition: .25s;
    color: #363636;
}

#footer-block .subblock .nav-list ul li a:hover {
    color: #267dff;
}
#footer-block .copyright {
    margin-top: 80px;
    font: 15px sans-serif;
    color: #5a5a5a;
}
a.active {
    color: #fff !important;
}
p.active {
    color: #fff !important;
}
h3.active {
    color: #fff !important;
}
h4.active {
    color: #fff !important;
}
h5.active {
    color: #fff !important;
}
span.active {
    color: #fff !important;
}
/*
input::placeholder.active {
    background: #222 !important;
    color: #fff !important;
}
*/
i.active {
    color: #fff !important;
}
/*
img1.active {
    
}
*/
h1.active {
    color: #fff !important;
}
h2.active {
    color: #fff !important;
}
li.active {
    color: #fff !important;
}
button.active {
    color: #fff !important;
    background: #222 !important;
}
.submenu li.active {
    background: #222 !important;
}
.li5:hover .submenu ul.active {
    background: #222;
}
nav.active {
    background: #222 !important;
}
