* {margin: 0; padding: 0; box-sizing: border-box;}
header nav {
    height: 100px;
    border-bottom: 1px solid rgb(192, 192, 192);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
header nav .menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
header nav .logo img{
    height: 40px;
}
header nav ul {
    display: flex;
    list-style-type: none;
    font: 18px sans-serif;
    font-weight: 600;
    color: rgb(58, 58, 58);
}
header nav ul li {
    cursor: pointer;
    margin-left: 30px;
    transition: .5s;
}
header nav ul li:hover {
    color: #0066FF;
}
header nav .controls {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
header nav .controls button.in {
    width: 110px;
    height: 40px;
    border: 0;
    background: #fff;
    color: #000;
    font: 18px sans-serif;
    transition: .5s;
    cursor: pointer;
}
header nav .controls button.in:hover {
    color: #0066FF;
}
header nav .controls button.up {
    width: 110px;
    height: 40px;
    border-radius: 50px;
    background: #0066FF;
    border: 0;
    color: #fff;
    font: 18px sans-serif;
    transition: .5s;
    margin-right: 30px;
    cursor: pointer;
}
header nav .controls button.up:hover {
    background: #3076df;
}
header nav .controls .search {
    font-size: 22px;
    color: #222;
}
header nav .controls .background {
    font-size: 22px;
    color: #3076df;
}
#title {
    height: 400px;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#title h1 {
    text-align: center;
    width: 1000px;
    font: 60px sans-serif;
    font-weight: 700;
}
#title h2 {
    font: 25px sans-serif;
    width: 950px;
    text-align: center;
    margin-top: 30px;
    margin-left: 25px;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

#block1 {
    padding-top: 50px;
}
.subblock {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
#block1 .left-block {
    display: grid;
    gap: 25px 0;
    height: 600px;
}
#block1 h3 {
    font: 27px sans-serif;
    font-weight: 600;
}
#block1 .left-block .item {
    width: 800px;
    height: 480px;
    /* border-radius: 30px; */
}
#block1 .left-block .item img {
    height: 100%;
    width: 100%;
    border-radius: 33px;
    object-fit: cover;
}
#block1 .left-block button.lifestyle {
    width: 95px;
    height: 30px;
    border-radius: 50px;
    background: rgb(228, 244, 255);
    border: 1px solid #0066FF;
    color: #000;
    font: 13px sans-serif;
    transition: .5s;
    margin-right: 30px;
    cursor: pointer;
    transform: .1s;
    font-weight: 600;
}
#block1 .left-block button.lifestyle:hover {
    color: #fff;
    background: #0066FF;
}
#block1 .left-block h2 {
    width: 770px;
}
#block1 .left-block h2 a {
    text-decoration: none;
    color: #000;
    font: 40px sans-serif;
    font-weight: 700;
}
#block1 .left-block p {
    color: rgb(87, 87, 87);
    font: 18px sans-serif;
    width: 800px;
}
.author {
    width: 220px;
    display: flex;
    justify-content: space-between;
}
.author .photo {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    background: #222;
}
.author span {
    font: 15px sans-serif;
}
.author h4 a {
    text-decoration: none;
    color: #000;
}
.right-block {
    display: grid;
    gap: 45px 0;
    width: 560px;
}
.right-block .item {
    width: 560px;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.right-block .item .img {
    height: 100%;
    width: 250px;
}
.right-block .item .img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.right-block .item button {
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background: rgb(228, 244, 255);
    border: 1px solid #0066FF;
    color: #000;
    font: 13px sans-serif;
    transition: .5s;
    margin-right: 30px;
    cursor: pointer;
    transform: .1s;
    font-weight: 600;
}
.right-block button:hover {
    color: #fff;
    background: #0066FF;
}
.right-block .item .text {
    display: grid;
    width: 290px;
}
.right-block .item .text p {
    font: 23px sans-serif;
    font-weight: 600;
    margin-top: 15px;
}